/*GENERAL*/
body
{
	margin: 0;
}

a
{
	text-decoration: none;
	font-weight: normal;
}
h2
{
	text-align: center;
	font-family: 'Devonshire', cursive;
	font-size: 2em;
	font-weight: normal;
}

h3
{
	text-align: center;
}

.prix
{
	font-weight: bold;
}


/*HEADER*/
header
{
	background-color: #579c87;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

}

header a
{
	text-decoration: none;
	color: #fbcb4e;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.05em;
}

/*Traits*/
.container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container p
{
	display: flex;
	justify-content: center;
}

img
{
	width: 30%;
}

/*Animation Titre*/
 a.underline
{
  text-decoration: none;
  color: #4D302B;
  position: absolute;
  line-height: 5pt;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.17em;
}

a.underline:before 
{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4D302B;
  transition: 0.4s;
}

a.underline:hover:before
{
  width: 100%;
}
/*Carte*/
#note1
{
	width: 80px;
	height: 80px;
}

#note2
{
	position: relative;
	top: 10px;
	width: 50px;
	height: 50px;
}

.elementmenu
{
	display: flex;
	justify-content: space-between;
}

#FlexContainer
{
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin:auto;
	margin-bottom: 100px;
	margin-top: 50px;
	box-shadow: 0px 0px 5px grey;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Kalam', cursive;
	color: #4D302B;
	background-color: #ffe6e6;
}

.elementmenu p
{
	font-size: 1em;
}

.bloc
{
	line-height: 5pt;
	padding-bottom: 30px;
}

#lastsubtitle
{
	font-family: 'Devonshire', cursive;
	font-size: 1.5em;
	font-weight: normal;
}

#lastsubtitle i
{
	font-size: 30px;
}


/*FOOTER*/

footer 
{
    position: fixed;
    height: 50px;
    background-color: #579c87;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

footer a
{
	color: #fbcb4e;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}

.wiggle
{
	animation:shake 0.2s ease-in-out infinite alternate;
}

@keyframes shake
{
	from 
	{
		transform: rotate(4deg);
	}
	to
	{
		transform:rotate(-4deg);
	}
}

/*RESPONSIVE*/
@media screen and (max-width: 610px) 
{
	.elementmenu p
	{
		line-height: 15pt;
	}

	img
	{
		width: 20%;
	}
}
